:root {
    --color-primary: #1B2DCC;
    --color-secondary: #0059fd;
    --color-background: #ffffff;
    --color-text: #000000;
    --color-accent: #22FF9F;
    --color-dark: #333333;
    --blanco-variante2: #f0f0f0;
    --azulk: #123456;
    --blanco_puro: #ffffff;
    --negrok: #000000;
    --verdek: #00ff00;
  }
  
  .main__header {
    background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary));
    min-height: 10rem;
    color: #ffffff;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 3rem;
    font-size: 27px;
  }
  
  .container_tienda {
    padding: 2em;
  }
  
  .container_tienda .card {
    overflow: hidden;
  }
  
  .container_tienda .card .card-body {
    background-color: var(--blanco-variante2);
  }
  
  .container_tienda .contenedor_boton {
    padding: 4rem 0rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  
  .container_tienda .contenedor_boton h5 {
    padding-bottom: 2rem 0 1rem 0;
    margin-bottom: 1rem;
  }
  
  .container_tienda .contenedor_boton .btn {
    background-color: #1B2DCC;
    color: var(--blanco_puro);
    border-radius: 4px;
  }
  
  .container_tienda .contenedor_boton .menu-desplegable {
    background-color: rgba(22, 56, 248, 0.192);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5));
    backdrop-filter: blur(5px);
    overflow: hidden;
    bottom: 1;
  }
  
  .container_tienda .contenedor_boton a {
    color: var(--negrok);
    font-weight: 500;
  }
  
  .container_tienda .contenedor_boton a:hover {
    scale: 1.0625;
    background-color: rgba(50, 255, 159, 0.034);
    backdrop-filter: blur(7px);
  }
  
  /* Resto de los mixins */
  
  @keyframes scaling {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.03125);
    }
  }
  
  .container_tienda .card .card-img-top:hover {
    animation: scaling 0.3s ease-in-out;
  }
  
  .container_tienda .card .card-body a {
    background-color: #1B2DCC;
    border: none;
  }
  
  .container_tienda .card .card-body a:hover {
    background-color: #0EAE93;
    animation: scaling 0.3s ease-in-out;
    color: #f7f7f7;
  }

  /*---------------------------- FOOTER ------------------------- */

.footer {
    background-color: #1B2DCC;
    width: 100%;
    margin-top: auto;
    padding: 2.5em 2em 0em 2em;
    padding-bottom: 1em;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .footer__contenedor {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  .footer__contenedor-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5em 1em 1em 0em;
    margin: 1em 1em 1em 0em;
  }
  
  .footer__img {
    width: 4em;
  }
  
  .footer__img:hover {
    transform: rotate(360deg);
    transition: 0.4s cubic-bezier(0.655, 0.1, 0.615, 0.555);
  }
  
  .footer__iconos {
    display: flex;
    flex-direction: column;
    padding-right: 0em;
    align-items: center;
    justify-content: center;
    padding-right: 0.75rem;
    color: var(--blanco_puro);
  }
  
  .footer__imgiconos {
    fill: var(--blanco_puro);
    width: 35px;
    padding-right: 0.75rem;
  }
  
  .footer__redes,
  .footer__list {
    padding: 1em 1em 0em 0em;
  }
  
  .footer__legal {
    padding: 1rem 1rem 0rem 0.7rem;
  }
  
  .footer__list-item,
  .footer__redes-item,
  .footer__legal-item {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .footer__list-item:hover i,
  .footer__list-item:hover svg,
  .footer__list-item:hover a,
  .footer__redes-item:hover i,
  .footer__redes-item:hover svg,
  .footer__redes-item:hover a,
  .footer__legal-item:hover i,
  .footer__legal-item:hover svg,
  .footer__legal-item:hover a {
    color: #0EAE93;
    transition: width 1s ease;
  }
  
  .footer__list-item:hover i,
  .footer__list-item:hover svg {
    color: #0EAE93;
    fill: #0EAE93;
  }
  
  .footer__list-link,
  .footer__redes-link,
  .footer__legal-link {
    text-decoration: none;
    color: var(--blanco_puro);
    font-weight: 100;
    font-size: 18px;
  }
  
  .footer__legal-link--copyright {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
  }

  /*---------------------------- HEADER ------------------------- */

/* Quitamos los estilos del toggler icon de Boostrap */
.navbar-toggler:focus {
    box-shadow: none;
  }
  
  /* Animacion underline para anchors del navbar */
  .nav-link {
    position: relative;
    text-decoration: none;
    display: inline-block;
  }
  
  .nav-link::before,
  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 1px;
    width: 0;
    background-color: #0EAE93;
    transition: width 0.4s ease-out;
  }
  
  .nav-link:hover::before {
    width: 100%;
    transition: width 0.4s ease-out;
  }
  
  .nav-link:hover::after {
    width: 0;
    transition: width 0.4s ease-out;
  }
  
  .nav-link:hover::before {
    left: 0;
  }
  
  .nav-link:hover::after {
    right: 0;
  }
  
  /* Animacion logo navbar */
  .logo {
    transition: transform 0.6s ease-in-out;
  }
  
  .logo:hover {
    transform: scale(1.0625);
  }
  
  .logo:hover ~ .logo {
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
  }

  /* Estilos para el modal del carrito */
#carrito-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 10, 56, 0.5);
    z-index: 9999;
  }
  
  #carrito-modal.show {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #carrito-modal .carrito-modal-contenido {
    background-color: #dfe0e7;
    padding: 2rem;
    border-radius: 4px;
    max-width: 550px;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  #carrito-modal .carrito-modal-contenido h2 {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  
  #carrito-modal .carrito-modal-contenido ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  #carrito-modal .carrito-modal-contenido li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  #carrito-modal .carrito-modal-contenido .btn-eliminar-producto {
    background-color: #e05353;
    color: #ffffff;
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #carrito-modal .carrito-modal-contenido .btn-eliminar-producto:hover {
    background-color: #d13939;
  }

  #carrito-modal .carrito-modal-contenido .btn-agregar-producto{
    background-color: #70cca9;
    color: #ffffff;
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    cursor: pointer;
  }

  #carrito-modal .carrito-modal-contenido .btn-agregar-producto:hover {
    background-color: #17c280;
  }
  
  #carrito-modal .carrito-modal-contenido #btn-pagar {
    background-color: #1b2dcc;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    max-width: 60%;
    margin-top: 1rem;
  }

  #carrito-modal .carrito-modal-contenido #btn-vaciar-carrito {
    background-color: #6b6b70;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    max-width: 40%;
    margin-top: 1rem;
  }

  #carrito-modal .carrito-modal-contenido #btn-vaciar-carrito:hover {
    background-color: #d13939;
  }
  
  #carrito-modal .carrito-modal-contenido #btn-pagar:hover {
    background-color: #0EAE93;
  }

  #btn-cerrar-carrito::before{
    margin-bottom: 10px;
    color: #767679;
    font-size: 28px;
  }

  #btn-cerrar-carrito:hover::before{
    scale: 1.25;
    color:  #d13939;
  }


  .carroConProductos{
    font-weight: 600;
    color: #0059fd;
  } 

  .carroSinProductos{
    font-weight: 600;
    color: #9b9b9b;
  } 

  

  /* Media Querys Tablet 768px */
  
  @media (max-width: 768px) {
    .footer {
      padding: 2rem 2rem;
    }
  
    .footer__contenedor-logo {
      width: 100%;
      margin-bottom: 0;
    }
  
    .footer__list {
      padding: 0px 22px 0 14px;
    }
  
    .footer__redes {
      padding-top: 0;
      padding-left: 14px;
    }
  
    .footer__legal {
      padding-top: 0;
    }
  }
  
  @media (max-width: 375px) {
    #tienda {
      margin: 0;
    }
  }